---
# Authorino with TLS on the authorization listener (RHOAI 3.5 docs).
# Ported from rhocpai-mvp-routing manifests/50-connectivity-link/15-authorino-tls.yaml.
apiVersion: operator.authorino.kuadrant.io/v1beta1
kind: Authorino
metadata:
  name: authorino
  namespace: {{ namespace }}
spec:
  replicas: {{ replicas | int }}
  clusterWide: true
  listener:
    tls:
      enabled: true
      certSecretRef:
        name: authorino-server-cert
  oidcServer:
    tls:
      enabled: false
